openapi: 3.0.0
info:
  title: WFM Mobile API
  version: 1.0.0
  description: Mobile application authentication APIs

servers:
  - url: https://demo.wfmsoftwaresolutions.com/MobileAppAPIJWT

paths:
  /users/login:
    post:
      summary: User login
      description: Login using email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - Email
                - Password
              properties:
                Email:
                  type: string
                  format: email
                  example: abc@dsubj.com
                Password:
                  type: string
                  format: password
                  example: ssjebh
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  UserID:
                    type: integer
                    example: 67
                  ClockNumber:
                    type: integer
                    example: 425
                  TerminalUser:
                    type: string
                    example: "N"
                  OfflineUser:
                    type: string
                    example: "Y"
                  ManagerUser:
                    type: string
                    example: "N"
                  LocationRequired:
                    type: string
                    example: "Y"
                  Name:
                    type: string
                    example: Supervisee One
                  Gender:
                    type: string
                    example: F
                  BadgeID:
                    type: string
                    example: "774411"
                  CurrentStatusValues:
                    type: object
                    properties:
                      Status:
                        type: string
                        example: Clocked In
                      Shift:
                        type: string
                        example: 0600-1400a
                      Timesheet:
                        type: string
                        example: "     "
                  CompanyCode:
                    type: string
                    example: SYD
                  PasswordResetRequired:
                    type: string
                    example: "N"
        '401':
          description: Unauthorized
        '400':
          description: Bad request
